*.old
*.map
..map
.DS_Store
.nyc_output
coverage
node_modules
yarn-error.log
npm-debug.log

/lib/**/*.js
/test/**/*.js

/Enum.js
/Interface.js
/Type.js
/Input.js
/Schema.js
/Union.js
/parasprite.js
/toListType.js
/introspect.js
/makeSchema.js
/toRequired.js
/isListOf.js
