*.old
*.map
..map
.DS_Store
.nyc_output
coverage
node_modules
yarn-error.log
npm-debug.log

/lib/**/*.js
/test/**/*.js

/Enum.js
/Interface.js
/Type.js
/Input.js
/Schema.js
/parasprite.js
/toListType.js
/introspect.js
/makeSchema.js
/toRequired.js
/isListOf.js

# !src/Enum.js
# !src/Interface.js
# !src/Type.js
# !src/Input.js
# !src/Schema.js
# !src/parasprite.js
# !src/toListType.js
# !src/introspect.js
# !src/makeSchema.js
# !src/toRequired.js
# !src/isListOf.js

# !src/**/public/**/*.js
