coverage
node_modules
npm-debug.log
yarn-error.log
.nyc_output
.DS_Store
test.js

*.map

lib/**/*.js
test/**/*.js
helper/**/*.js

parasprite.js
Input.js
Interface.js
Type.js

!src/parasprite.js
!src/Input.js
!src/Interface.js
!src/Type.js
!src/**/*.js
