*.old
*.map
..map
.gitignore
.DS_Store
.nyc_output

coverage
node_modules
yarn-error.log
npm-debug.log

src
test
doc

.lintstagedrc
.editorconfig
.huskyrc.json
.travis.yml
.babelrc.js
.eslintrc.js
yarn.lock

test.mjs
